
  
 .register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      rgba(77, 105, 166, 0.5),
    rgba(77, 105, 166, 0.5)),
    url("https://pbs.twimg.com/ext_tw_video_thumb/1531685284777271297/pu/img/m50OUbyS0STNGjpJ.jpg:large");
    background-size: cover;
  }
  
  .registerTitle {
      margin-top: 20px;
      font-size: 40px;
      margin-bottom: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  
  .registerForm {
      height: 750px;
      width: 400px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 10px;
  }
  
  .registerForm > label {
      margin: 10px 30px;
  }
  
  .registerInput {
      margin: 10px 30px;
      font-size: 20px;
      padding: 10px;
      background-color: rgb(235, 233, 233);
      border: none;
      margin-bottom: 10px;
  }
  
  .registerLabel {
      margin: 10px 30px;
      margin-top: 10px;
      font-size: 20px;
      margin-bottom: 10px;
  }
  
  .registerButton {
      margin: 30px 30px;
      cursor: pointer;
      background-color: teal;
      border: none;
      color: white;
      border-radius: 10px;
      padding: 10px;
      font-size: 20px;
  }
  
  .registerLoginButton {
      position: absolute;
      top: 70px;
      right: 30px;
      border: none;
      cursor: pointer;
      background-color: black;
      color: white;
      border-radius: 10px;
      padding: 15px;
  } 